In [33]:
import pandas as pd
import numpy as np

# Import Data

In [20]:
#Read data into a Pandas dataframe
crowdfunding = pd.ExcelFile('crowdfunding.xlsx')

#Get the sheet names
crowdfunding.sheet_names

['crowdfunding_info', 'contact_info']

In [21]:
#Import worksheets as dataframes
crowdfunding_info_df = pd.read_excel(crowdfunding, sheet_name='crowdfunding_info')
crowdfunding_info_df.sample(5)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
20,118,"Reeves, Thompson and Richardson",Proactive composite alliance,131800,147936,successful,1396,US,USD,1586667600,1617944400,False,False,film & video/drama
85,2181,"Hill, Lawson and Wilkinson",Multi-tiered eco-centric architecture,4900,6430,successful,71,AU,AUD,1622264400,1629435600,False,False,music/indie rock
631,536,Carlson-Hernandez,Quality-focused real-time solution,59200,183756,successful,3063,US,USD,1629522000,1643176800,False,False,theater/plays
400,2432,Bell PLC,Ergonomic eco-centric open architecture,100,2,failed,1,US,USD,1633582800,1637820000,False,True,photography/photography books
34,1546,Maldonado and Sons,Reverse-engineered asynchronous archive,9300,14025,successful,165,US,USD,1611640800,1639116000,False,False,film & video/documentary

In [22]:
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   company_name             1000 non-null   object
 2   blurb                    1000 non-null   object
 3   goal                     1000 non-null   int64
 4   pledged                  1000 non-null   int64
 5   outcome                  1000 non-null   object
 6   backers_count            1000 non-null   int64
 7   country                  1000 non-null   object
 8   currency                 1000 non-null   object
 9   launched_at              1000 non-null   int64
 10  deadline                 1000 non-null   int64
 11  staff_pick               1000 non-null   bool
 12  spotlight                1000 non-null   bool
 13  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(6), object(6)
memory usage: 95.8+ KB

In [23]:
#Import worksheets as dataframes
#increase the width of the column
pd.set_option('max_colwidth', 400)
contact_info_df = pd.read_excel(crowdfunding, sheet_name='contact_info', header=3)
contact_info_df.sample(5)

                                                                                           contact_info
994  {"contact_id": 5262, "name": "Guadalupe Munoz", "email": "guadalupe.munoz@murray-hamilton.com.au"}
584      {"contact_id": 1651, "name": "Conchita Pagliaro", "email": "conchita.pagliaro@googlemail.com"}
780              {"contact_id": 1312, "name": "Wolf Lutz", "email": "wolf.lutz@nichols-jackson.com.au"}
285                         {"contact_id": 2830, "name": "Rose Blanc", "email": "rose.blanc@grupo.com"}
362                    {"contact_id": 2140, "name": "Walli Albert", "email": "walli.albert@dussen.com"}

In [24]:
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

# Extract Data

### Restructure the data to create category and subcategory dataframes

In [25]:
#Get the unique values in the category and sub-category column
crowdfunding_info_df['category & sub-category'].unique()

array(['food/food trucks', 'music/rock', 'technology/web',
       'theater/plays', 'film & video/documentary',
       'music/electric music', 'film & video/drama', 'music/indie rock',
       'technology/wearables', 'publishing/nonfiction',
       'film & video/animation', 'games/video games',
       'film & video/shorts', 'publishing/fiction',
       'photography/photography books', 'publishing/radio & podcasts',
       'music/metal', 'music/jazz', 'publishing/translations',
       'film & video/television', 'games/mobile games',
       'music/world music', 'film & video/science fiction',
       'journalism/audio'], dtype=object)

In [26]:
#Assign the category and sub-category values to respective columns
crowdfunding_info_df[['category', 'sub-category']] = crowdfunding_info_df['category & sub-category'].str.split('/', n=1, expand=True)
crowdfunding_info_df.sample(5)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,sub-category
688,1234,"Bowen, Davies and Burns",Devolved client-server monitoring,2900,12449,successful,175,US,USD,1610949600,1628917200,False,True,film & video/television,film & video,television
721,1780,Dominguez-Owens,Open-architected systematic intranet,123600,5429,canceled,60,US,USD,1626411600,1629176400,False,False,music/rock,music,rock
62,1969,Sparks-West,Organized incremental standardization,2000,14452,successful,249,US,USD,1629349200,1637474400,False,False,technology/web,technology,web
17,2550,Cochran-Nguyen,Seamless 4thgeneration methodology,84600,134845,successful,1249,US,USD,1586667600,1616562000,False,False,film & video/animation,film & video,animation
109,1179,Romero and Sons,Object-based client-server application,5200,3079,failed,60,US,USD,1601528400,1623474000,False,False,film & video/television,film & video,television

In [27]:
#Get the distinct values in category and sub-category columns
print(crowdfunding_info_df['category'].nunique())
print(crowdfunding_info_df['sub-category'].nunique())

9
24

In [32]:
#Get the unique categories and sub-categories in separate lists
categories = crowdfunding_info_df['category'].unique()
subcategories = crowdfunding_info_df['sub-category'].unique()

print(categories,  '\n\n', subcategories)

['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']

 ['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

In [34]:
#Create numpy arrays that have 1-10 for the category_ids and 1-25 for the sub-category_ids
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

In [39]:
#Use a list comprehension to add 'cat0' to each category_id
cat_ids = ['cat0' + str(cat_id) for cat_id in category_ids]

#Use a list comprehension to add 'cat0' to each sub-category_id
scat_ids = ['cat0' + str(scat_id) for scat_id in subcategory_ids]

print(cat_ids)
print(scat_ids)

['cat01', 'cat02', 'cat03', 'cat04', 'cat05', 'cat06', 'cat07', 'cat08', 'cat09']
['cat01', 'cat02', 'cat03', 'cat04', 'cat05', 'cat06', 'cat07', 'cat08', 'cat09', 'cat010', 'cat011', 'cat012', 'cat013', 'cat014', 'cat015', 'cat016', 'cat017', 'cat018', 'cat019', 'cat020', 'cat021', 'cat022', 'cat023', 'cat024']

In [40]:
#Create a category dataframe with the cat_ids array as the category_id and categories list as the category name
category_df = pd.DataFrame({'category_ids': cat_ids, 'category': categories})

#Create a sub-category dataframe with the scat_ids array as the sub-category_id and categories list as the sub-category name
subcategory_df = pd.DataFrame({'sub-category_ids': scat_ids, 'sub-category': subcategories})

In [41]:
category_df.sample(5)

  category_ids     category
8        cat09   journalism
0        cat01         food
3        cat04      theater
2        cat03   technology
7        cat08  photography

In [42]:
subcategory_df.sample(5)

   sub-category_ids       sub-category
1             cat02               rock
20           cat021       mobile games
14           cat015  photography books
6             cat07              drama
21           cat022        world music

In [45]:
#Export dataframes as csv files
category_df.to_csv('categories.csv', index=False)
subcategory_df.to_csv('sub-categories.csv', index=False)